<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理-商务详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <link href="__PUBLIC__/index/css/bootstrap-3.3.5.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/index/css/NewGlobal.css" rel="stylesheet" />
    <link href="__PUBLIC__/index/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/layer/skin/layer.css" />
    <link href="__PUBLIC__/index/css/detail.css" rel="stylesheet" />

    <script type="text/javascript" src="__PUBLIC__/index/js/zepto.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/insertContent.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/utf8-php/ueditor.all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/utf8-php/lang/zh-cn/zh-cn.js"></script>
</head>
<style>
    #sele{
        padding: 0 2%;
        margin: 0;
        font-size: 0.8em;
    }
    #sele option{
        text-align: center;
    }
    .spanl{
        position: absolute;
        left:0;
    }
    .span2{
        position: absolute;
        right:0;
    }
    #content{
        text-align: left;
        background-color: white;
        padding: 10px 20px 55px 20px;
        /*margin-left: 10px;*/
        /*margin-right: 10px;*/
    }
    #content ul{
        /*border: 1px solid #ccc;*/
        background-color: #e7e8eb;
        margin-top: 10px;
        padding: 10px 30px 10px 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    #content ul li{
        background-color: #DCF4E7;
        border: none;
    }
    textarea{
        width: 100%;
        margin-top: 20px;
        padding: 4px 2px;
        min-height: 80px;
    }
    .hotellist1 li{
        padding-left: 15px;
        margin-top: 0px;
    }
    .formC{
        height: 34px;
        padding: 6px 6px;
        font-size: 14px;
        line-height: 1.42857143;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .transform50{
        -webkit-transform:translateY(50%);
        -moz-transform:translateY(50%);
        -o-transform:translateY(50%);
        -ms-transform:translateY(50%);
        transform: translateY(50%);
    }
</style>
<body>
<div class="header" id="header1">
    <a href="index.php?c=Showphone&a=index" class="home">
        <span class="header-icon header-icon-home"></span>
        <span class="header-name">主页</span>
    </a>
    <div class="title" id="titleString">商务团队详情</div>
    <a href="index.php?c=Bussiness&a=project_list&uid={$uid}" class="back">
        <span class="header-icon header-icon-return"></span>
        <span class="header-name">返回</span>
    </a>
</div>
<div class="header" id="header2" style="display: none">
    <a class="home">
        <span class="header-icon header-icon-return"></span>
        <span class="header-name">返回</span>
    </a>
    <div class="title" id="titleString">选择提到的人</div>
    <!--<a href="javascript:history.go(-1);" class="back">-->
    <!--<span class="header-icon header-icon-return"></span>-->
    <!--<span class="header-name">返回</span>-->
    <!--</a>-->
</div>
<div class="container font1 text_center" id="content1" style="padding-left: 0px;padding-right: 0px">
    <button class="btn" style="background-color: red;color: #fff;width: 100%;border-radius: 0px;padding-top: 8px;padding-bottom: 8px" onclick="del()">删除</button>
    <div class="padd2 bg3" style="text-align: left;padding-bottom: 10px;line-height: 40px;">
        <div class="borderb">
            <span>负责人：</span><span class="color2"><a class="color2" href="index.php?s=/Home/Bussiness/get_projectlist&pmid={$info.uid}">{$list[0].uid}(人员名字和跳转需要等待接口和地址)</a></span>
        </div>
        <div class="borderb">
            <span>负责项目：</span><span class="color2">{$list[0].did}(这是地区编码){$list[0].value}</span>
        </div>
        <div class="borderb">
            <span>所属地区：</span><span class="color2">
            {$list[0].did}(建议取消)
            <!--<if condition="$infos[county]">{$infos[county]}-</if>
            <if condition="$infos[city]">{$infos[city]}-</if>
            <if condition="$infos[province]"> {$infos[province]}</if>-->
        </span>
        </div>
        <div class="borderb">
            <span>团队成员：（需要等待接口）</span>
            <volist name="member" id="vo">
            <span class="color2" >
                <if condition="$vo.yesno eq 2">
                <a class="color2" href="index.php?c=Execution&a=peo_detail&uid={$vo.uid}&id={$id}" style="color: red">{$vo.uname} </a>&nbsp<span class="glyphicon glyphicon-minus-sign" onclick="del_people('{$vo[uname]}')" style="color: red"></span>
                <else/>
                    <a class="color2" href="index.php?c=Execution&a=peo_detail&uid={$vo.uid}&id={$id}" >{$vo.uname} </a>&nbsp<span class="glyphicon glyphicon-minus-sign" onclick="del_people('{$vo[uname]}')" style="color: red"></span>

                </if>
            </span>
            </volist>
            <input type="button" onclick="edit({$infos[jid]})" class="" value="+" style="margin-left: 10px;background-color: #00AA91;color: #fff;border: none;line-height: 1.6em;padding: 0px 0.5em">
        </div>
        <div class="borderb">
            <span>团队身份：</span><span class="color2">{$infos[pzytd]}</span>
        </div>
    </div>
    <div id="content">
        <span>项目跟进情况：</span>
        <ul class="unstyled hotellist">
            <if condition="$list">
                <volist name="list" id="info">
                    <li class="pt1">
                        <div class="row clearfix" style="position: relative">
                            <div class="col-md-1 col-xs-2 column" style="text-align: center;">
                                <span class="radius50" style="background-color: #00AA91;color: #fff;display: inline-block;width: 2em;height: 2em;"></span>
                            </div>
                            <div class="col-md-11 col-xs-10 column">
                                {$info[uid]}：<span class="color2">{$info[content]}</span>
                                <div>下一步计划：<if condition="$info[jjfa]">{$info[jjfa]}<else/>暂无</if></div>
                        <span class="fr font12">
                      {:date('Y-m-d H:i:s',$info['ctime'])}</span>
                            </div>
                        </div>
                    </li>
                </volist>
                <else/>
                <if condition="$list">
                <li style="text-align: center">没有数据</li>
                   </if>
            </if>

        </ul>
        <!--<textarea class="" id="text"></textarea>-->
        <script id="editor" type="text/plain" style="width:100%;height:200px;"></script>
        解决方案：<textarea class="" id="text"></textarea>
        <!-- <script id="editor" type="text/plain" style="width:100%;height:400px;float: right;"></script> -->
        <div class="fr mart10" style="font-size: 13px;">

            <!-- <input type="checkbox"/>发送提示短信&nbsp; --><button class="btn btn-success" onclick="add_comment()">发布</button>
        </div>
    </div>
</div>
<div id="content2" style="display: none">
    <div class="control-group mart10 width100 text_center">
        <input type="text" class="w80 formC" id="search_content" style="background: none repeat scroll 0 0 #F9F9F9;" placeholder="查找领导人" />
        <input class="btn-success formC" type="submit" onclick="search_leader()" value="搜索">
    </div>
    <ul class="unstyled hotellist1 mart10" id="peoplelist">
        <volist name="leader" id="infol">
            <li onclick="choose(this)">
                <div>{$infol[lname]}</div>
                <p style="display: none">{$infol[lid]}</p>
                <span style="color: #ccc">{$infol[linfo]}</span>
            </li>
        </volist>
        <!-- <li class="">
            <a onclick="choose(this)">飞飞2</a>
        </li>
        <li class="">
            <a onclick="choose(this)">飞飞3</a>
        </li> -->
    </ul>
</div>
<script>
    function edit(obj){
//        alert(obj);
        layer.open({
            type: 2,
            area: ['80%', '80%'],
            fix: false, //不固定
            maxmin: true,
            title:'项目成员',
            content: 'index.php?c=Bussiness&a=people_add&id='+obj
        });
    }
    $(document).ready(function(){
        var i=1;
        $(".hotellist li").each(function(){
            $(this).find(".radius50").html(i++);
        })
    })
    var ue = UE.getEditor('editor');
    function search_leader(){
        $.ajax({
            type: 'POST',
            url: "index.php?c=Bussiness&a=search_leader",
            data: "name="+$("#search_content").val(),
            success: function (data) {
//                alert(data);
                var jsonData=JSON.parse(data);;
//                alert(jsonData);
                $(".hotellist1").html("");
                for(var i=0;i<jsonData.length;i++){
                    $(".hotellist1").append('<li onclick="choose(this)">'+'<div>'+jsonData[i].lname+'</div>'+' <p style="display: none">'+jsonData[i].lid+'</p>'+
                    '<span style="color: #ccc">'+jsonData[i].linfo+'</span>'+'</li>');
                }
            }
        })
    }
    function getContent() {
        var arr = [];
        // arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        // arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        return arr;
        // alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        // arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        // arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        // alert(arr.join('\n'))
        return arr;
    }


    $(document).ready(function(){
        $("#header2 .home").bind("click",function(){
            $("#content2").hide();
            $("#header2").hide();
            $("#header1").show();
            $("#content1").show();
            $("#search_content").val("");
            $("#peoplelist").html("").append(' <volist name="leader" id="infol">'
                    +' <li onclick="choose(this)">'
                    +' <div>{$infol[lname]}</div>'
                    +' <p style="display: none">{$infol[lid]}</p>'
                    +' <span style="color: #ccc">{$infol[linfo]}</span>'
                    +'</li>'
                    +'</volist>')
        })
    })
    function add_comment(){
        var strobj = getContent();
        var str=strobj.toString();
      if (str == ''||str == null) {
        alert('请输入发布内容');
      }else{
        var sjid = {$list[0].jid};
        $.ajax({
            type:'POST',
            url:"index.php?s=/Home/Bussiness/addcomment" ,
            data:{id:"<?php echo $_COOKIE['user_id'];?>",jid:sjid,content:str,method:$("#text").val()},
            dataType:"JSON",
            success:function(data){
                /*$(".unstyled").append('<li class="pt1">'+data.hfuid+':'+'<span class="color2">'+data.comment+
                  '</span>'+'<span class="fr">'+data.ctime+'</span>'+'</li>');
                UE.getEditor('editor').setContent('');*/
                window.location.reload();
                 // alert('添加成功');
            }
        })
      }
    }

//输入@弹出人员列表
    var domUtils = UE.dom.domUtils;
    ue.addListener('ready',function(){
      ue.focus(true);
          domUtils.on(ue.body,"keyup",function(){
            var str = UE.getEditor('editor').getContentTxt();
            //alert(str);    
            var c = str.substring(str.length-1,str.length); 
            // console.log(c);
            if(c == '@'){
                $("#content1").hide();
                $("#header1").hide();
                $("#header2").show();
                $("#content2").show();
            }
        })
    });
    $("#editor").keyup(function(){
        var x = event.which || event.keyCode;
        // console.log('which:'+event.which+'  code:'+event.keyCode);
        // console.log(x);
        //event.shiftKey
        // if((x==50||x==229)){
        var str = $("#text").val();    
        var c = str.substring(str.length-1,str.length); 
        // console.log(c);
        if(c == '@' && (x==50||x==229)){
            $("#content1").hide();
            $("#header1").hide();
            $("#header2").show();
            $("#content2").show();
        }
    })

    function choose(s){
        var id= $(s).find('p').html();
        var str="<a href='index.php?c=Showphone&a=detail&id="+id+"'>"+$(s).find('div').html()+"("+$(s).find('span').html()+")</a>";
        // leaderlist.push($(s).find('p').html());
        // $("#content textarea").insertContent(str);
        UE.getEditor('editor').setContent(str, true);
        $("#content2").hide();
        $("#header2").hide();
        $("#header1").show();
        $("#content1").show();
        $("#search_content").val("");
        $("#peoplelist").html("").append(' <volist name="leader" id="infol">'
               +' <li onclick="choose(this)">'
        +' <div>{$infol[lname]}</div>'
        +' <p style="display: none">{$infol[lid]}</p>'
        +' <span style="color: #ccc">{$infol[linfo]}</span>'
        +'</li>'
        +'</volist>')
    }
//删除记录
    function del(){
        layer.confirm("是否确定删除",{
            btn:["删除","取消"]
        },function(){
            var str = 'index.php?s=/Home/Bussiness/delproject&id='+{$list[0].jid}+'&uid='+{$list[0].uid};
            window.location.href=str;
        })
    }
//删除人员
    function del_people(name){
        layer.confirm("是否将"+name+"从该项目移除",{
            btn:["移除","取消"]
        },function(){
            window.location.href="index.php?c=Bussiness&a=dele&uid={$vo.uid}&jid={$infos[jid]}";
        })
    }
</script>
</body>
</html>
