<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>项目列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<link href="__PUBLIC__/index/css/bootstrap-3.3.5.min.css" rel="stylesheet" />
<link href="__PUBLIC__/index/css/NewGlobal.css" rel="stylesheet" />
<link href="__PUBLIC__/index/css/index.css" rel="stylesheet" />
    <link href="__PUBLIC__/index/css/dropload.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/layer/skin/layer.css" />

    <script type="text/javascript" src="__PUBLIC__/index/js/zepto.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/dropload.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/jquery.infinitescroll.js"></script>

</head>
<style>
    .transform50{
        -webkit-transform:translateY(50%);
        -moz-transform:translateY(50%);
        -o-transform:translateY(50%);
        -ms-transform:translateY(50%);
        transform: translateY(50%);
    }
    .transform_50{
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform: translateY(-50%);
    }
</style>
<body>
 <div class="header">
 <a href="index.php?c=Showphone&a=index" class="home">
            <span class="header-icon header-icon-home"></span>
            <span class="header-name">主页</span>
</a>
<div class="title" id="titleString"><if condition="$name">{$name}-</if>项目列表</div>
<a href="index.php?c=Bussiness&a=bussiness_list" class="back">
            <span class="header-icon header-icon-return"></span>
            <span class="header-name">返回</span>
        </a>
 </div>
<div class="container width80 pt20 ">
    <button class="btn btn-success" id="addPro">+新增项目</button>
  <div class="control-group width100 clr">
      <ul class="unstyled hotellist1 news_list">
          <if condition="$list">
              <volist name="list" id="info">
                  <li class="li" style="padding-left: 5px;position: relative">
                      <if condition="($count[$info['jid']]['project_sum']) and ($_SESSION.state eq 1 OR $_SESSION[state] eq 5)">
                          <div class="radius50  color3 radiusStyle fl text_center transformXY">{$count[$info['jid']]['project_sum']}</div>
                      </if>
                      <div>{$info[did]}{$info[did]}</div>
                      <if condition="$count2[$info['jid']]['county'] eq ''">
                          <else/>
                          <span class="color2 font12"> {$count2[$info['jid']]['county']}</span>-
                      </if>
                      <if condition="$count1">
                          <span class="color2 font12">{$count1[$info['jid']]['city']}</span>
                      </if>
                      <if condition="$count3">
                           <span class="color2 font12">{$count3[$info['jid']]['province']}</span>
                      </if>
                      <a href='index.php?c=Bussiness&a=people_detail&jid={$info[jid]}&uid={$uid}' title='' class='glyphicon glyphicon-chevron-right fr color1 transform_50' style="position: absolute;right: 0;top: 50%">
                      </a>
                  </li>
              </volist>
              <else/>
              没有数据
          </if>
      </ul>
  </div>
    <div class="page" style="position:fixed;bottom:0px;"> {$pages}</div>
</div>

<script type="text/javascript">
    $('.li').click(function(){
//       var index= layer.load(2);
        var href=$(this).find("a").attr("href");
        window.location.href=href;
    });
    $("#addPro").click(function(){
        window.location.href="index.php?c=Bussiness&a=project_add&uid="+{$uid};
    });
</script>

</body>
</html>
